@import 'fonts';

$gold-light-solid: #e3b665;
$gold-dark-solid: #9a7039;
$gold-light-faded: rgba(226,181,101,.6);

#loader { display: none; }

header {
  position: relative;
  padding: 100px 0;
  text-align: center;
  z-index: 1;

  background: url(../../img/marble.jpg) no-repeat center center;
  background-size: cover;

  .logo {
    img {
      max-width: 100px;
    }
  }

  .contact {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX( -50% );
    a {
      color: #000;
    }
  }

}

#main {
  position: relative;
  padding: 50px 0;
  section {
    margin-bottom: 20px;
  }
  border-bottom: 1px solid #444;
}

.page-title {
  font-family: $montserratHairline;
  letter-spacing: $spacingBig;
  line-height: 1.5em;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.body-title {
  font-family: $montserratHairline;
  letter-spacing: $spacingMedium;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;

  &.smaller {
      font-size: 20px;
      letter-spacing: 1px;
  }

  h6 {
      color: $gold-light-solid;
      font-size: 14px;
  }

  &.body-title-center {
      text-align: center;
  }

  p {
      margin: 0; padding: 0;
      line-height: 20px;
      font-size: 14px;
  }
}

.gold-spacer {
    width: 100px;
    height: 1px;
    background: $gold-light-solid;
    margin: 20px auto;
    &.smaller {
        margin: 10px auto;
    }
}

#fixed-content-panel {

  //padding: 30px 0;
  position: relative;
  background: #fff;
  z-index: 2;
  border-bottom: 1px solid #444;
  .content {
    text-align: center;
    h1{
      font-family: $montserratHairline;
      letter-spacing: $spacingBig;
      font-size: 30px;
      line-height: 35px;
      text-transform: uppercase;
    }
    h4 {
      margin-top: 20px;
      font-family: $montserratLight;
      color: $gold-light-solid;
      letter-spacing: $spacingMedium;
      font-size:14px;
      text-transform: uppercase;
    }
  }
}

.form-header {
  padding: 150px 0;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  img { display: block; margin: 0 auto; width: 90px;}
  h1 {
    font-size: 22px;
    margin-top: 40px;
    font-family: $montserratLight;
    letter-spacing: 2px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

.col-form-left {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-form-right {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  .row {
    margin-bottom: 14px;
  }
}

  #contact {
    background: #fff;
    z-index: 3;

    footer {
      padding: 20px 0;
      background: url(../../img/marble.jpg) no-repeat center center;
      background-size: cover;

      text-align: center;

      .left {
        display: block;
      }
      .right {
        display: block;
      }
    }
  }


  .phone {
    font-family: $montserratLight;
    font-size: 30px;
    color: #777;
        a.s:first-child {
      margin-left: 30px;
    }
  }
  .email {
    font-family: $montserratLight;
    font-size: 15px;
    color: #777;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

    a.s {
      display: inline-block;
      height: 30px;
      width: 30px;
      border-radius: 15px;
      border: 1px solid #777;
      font-size: 16px;
      text-align: center;
      color: #777;
      line-height: 28px;
      position: relative;
      top: -5px;
    }

    .social-mobile {
      margin: 20px 0;
    }

.form-control {
  border: 1px solid #999;
}
input.form-control {
  border-radius: 0;
}

.form-control:focus{
  border-color: $gold-dark-solid;
  outline:0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $gold-light-solid;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $gold-light-solid;
}

label {
  font-family: $gotham;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
}

select.form-control {
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 20px;
}
.checkbox {
  label { text-transform: none; }
}
input[type='radio'] {
    opacity: 0;
    cursor: pointer;
}
input[type='radio']:checked + label {
  background: url('../img/radio_checked_large_grey.png') left center no-repeat;
  background-size: 15px 15px;
  cursor: pointer;
}

input[type='radio'] + label {
  cursor: pointer;
  background: url('../img/radio_unchecked_large_grey.png') left center no-repeat;
  background-size: 15px 15px;
  padding: 5px 0 4px 35px;
  margin: 0;
  clear: none;
}

span.required-fields {
  font-size: 12px;
  font-style: italic;
  float: right;
}


button.submit {
  border: none;
  background: none;
  padding: 0;
  width: 160px;
  img {
    max-width: 100%;
    display: block;
  }
}

.form-footer {
  text-align: center;
  margin-top: 100px;
  p {
    margin-top: 70px;
    font-size: 12px;
    color: #888;
    font-family: $gotham;
  }
}

.link-outs {
  a {
    width: 150px;
    display: inline-block;
    margin-left: 20px;
    img {
      max-width: 100%;
    }
  }
}

.disclaimer {
    font-family: $montserratLight;
    font-size: 12px;
    color: #777;
    margin-top: 20px;
}

.contact {
  font-family: $montserratLight;
  letter-spacing: 2px;
  color: #555;
}
.contact:hover {
  text-decoration: none;
}



#break-point {
  width: 0;
  opacity: 0;
  height: 0;
}



.hidden-desktop {
    display: block;
}


@media (min-width:992px) {

    .hidden-desktop {
        display: none;
    }

#break-point {
  width: 992px;
  opacity: 0;
  height: 0;
}

  #loader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 20;
      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        img { max-width: 150px; }
      }
      .loading {
        color: #777;
        font-style: italic;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX( -50% );
      }
  }

  header {
  	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    	.logo {
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate( -50%, -50% );
        img { max-width: 150px; }
    	}
    background: url(../../img/marble.jpg) no-repeat center center fixed;
  }


  #main {
  	position: absolute;
    padding: 0;
    height: 1900px;
  	z-index: 3;
  	top:   100%;
  	left:  0;
  	right: 0;
  	background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #444;
  }

  section {
    position: absolute;
    left: 0;
    right: 0;

    &.section1 {
      top: 100px;
      height: 150px;
      //background: #999;
      z-index: 4;
    }
    &.section2 {
      top: 300px;
      height: 450px;
      //background: #888;
      z-index: 5;
    }
    &.section3 {
      top: 850px;
      height: 190px;
     // background: #777;
      z-index: 6;
    }
    &.section4 {
      top: 1150px;
      height: 460px;
      //background: #666;
      z-index: 7;
    }
    &.section5 {
      top: 1800px;
      height: 210px;
      //background: #555;
      z-index: 8;
    }
    &.section6 {
      top: 2350px;
      height: 515px;
      //background: #444;
      z-index: 9;
    }
    &.section7 {
      top: 3450px;
      height: 530px;
      //background: #333;
      z-index: 10;
    }

  }

  .page-title {
    font-size: 40px;
  }

  .body-title {
    font-family: $montserratHairline;
    letter-spacing: $spacingMedium;
    text-align: left;
    font-size: 30px;

    &.smaller {
        font-size: 20px;
        letter-spacing: 1px;
    }

    h6 {
        color: $gold-light-solid;
        font-size: 20px;
    }

    &.body-title-center {
        text-align: center;
    }

    p {
        margin: 0; padding: 0;
        line-height: 40px;
        font-size: 18px;
    }
  }

  .gold-spacer {
      width: 150px;
      height: 1px;
      background: $gold-light-solid;
      margin: 50px auto;
      &.smaller {
          margin: 25px auto;
      }
  }


  #fixed-content-panel {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 2;
    display: none;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
      position: absolute;
      width: 600px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      h1{
        font-family: $montserratHairline;
        letter-spacing: $spacingBig;
        font-size: 45px;
        line-height: 90px;
      }
      h4 {
        margin-top: 20px;
        font-family: $montserratLight;
        color: $gold-light-solid;
        letter-spacing: $spacingMedium;
        font-size:14px;
      }
    }
  }

  #contact {
    position: absolute;
    left: 0;
    right: 0;
    height: 1800px;
    background: #fff;
    z-index: 3;
    border-top: 1px solid #444;

    footer {
      padding: 30px 0 0 0;;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 530px;
      background: url(../../img/marble.jpg) no-repeat center center;
      background-size: cover;
      text-align: center;

      font-family: $montserratLight;
      letter-spacing: 2px;
      color: #777;
      text-transform: uppercase;

      h1 {
          font-family: $montserratLight;
          font-size: 18px;
          &.phone {
              font-size: 40px;
          }
          &.email {
              font-size: 25px;
              text-transform: none;
              a, &a:hover {
                  color: #777;
              }
          }
      }

      .bottom {
          text-align: center;
          .link-outs {
              margin: 100px auto 0 auto;
          }
      }
    }
  }


  .form-header {
    padding: 150px 0;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    img { display: block; margin: 0 auto; width: 90px;}
    h1 {
      font-size: 22px;
      margin-top: 40px;
      font-family: $montserratLight;
      letter-spacing: 2px;
      line-height: 30px;
    }
  }

  .col-form-left {
    float: left;
    width: 40%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-form-right {
    float: left;
    width: 60%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    .row {
      margin-bottom: 14px;
    }
  }

  .link-outs {
    //float: right;
  }
}

.submit-error {
  color: #FF0000 !important;
  margin: 10px 0 !important;
  //display: none;
  opacity: 0;
  transition: opacity .3s;
  &.on { opacity: 100; }
}
.input-error,
.input-error-select {
  border-color: #FF0000;
}

@media (min-width:1440px) {
  header {
    .logo {
      img { max-width: 220px; }
    }
  }
}
