@font-face {
	font-family: 'MontserratHairline';
	src: url('../fonts/Montserrat-Hairline.woff') format('woff'),
	     url('../fonts/Montserrat-Hairline.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratLight';
	src: url('../fonts/Montserrat-Light.woff') format('woff'),
	     url('../fonts/Montserrat-Light.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Book.woff') format('woff'),
	     url('../fonts/Gotham-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


$montserratLight: MontserratLight;
$montserratHairline: MontserratHairline;
$gotham: Gotham;

$spacingBig: 10px;
$spacingMedium: 6px;

a:link,
a:visited,
a:active {
	text-decoration: none;
}